<div>
        <div class="row footer" style="background-color: #2723da;max-width: 700px;width: 400px;">
            <div class="col text-center icons" style="font-size: 30px;color: #ffffff;"><a href="/" style="color: white;"><i class="fa fa-home"></i></a></div>
            <div class="col text-center icons" style="font-size: 30px;color: #ffffff;"><a href="/tickets" style="color: white;"><i class="fa fa-ticket"></i></a></div>
            <div class="col text-center icons" style="font-size: 30px;color: #ffffff;"><a href="/cases" style="color: white;"><i class="fa fa-bar-chart"></i></a></div>
            <div class="col text-center icons" style="font-size: 30px;color: #ffffff;width: 197px;"><a href="https://www.twilio.com/console/autopilot/CovidBot-DGR/simulator" style="color: white;"><i class="fa fa-stethoscope"></i></a></div>
        </div>
    </div>